#topBtn,
nav,
.memberSpace,
#market,
#boxContentA{
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#topBtn{
    text-transform: uppercase;
    margin:1.5rem auto;
}

#topBtn>button{
  width: 375rem;
  padding: 2rem;
}

nav{
  justify-content: flex-start;

}

nav div:first-of-type{
  margin-right: 19rem;
}

nav input[type="search"]{
  width:23rem;
}

.memberSpace{
  justify-content: flex-end;
}

.thumbnail img{
  width: 150px;
  height: 150px;
}

#boxSignIn,
#btnSignUp,
#boxSignUp,
#boxInsert{
    display: none;
}

#boxContentA{
  justify-content: space-between;
}

#market{
  justify-content: space-around;
  flex-wrap: wrap;
}

.thumbnail{
  margin-top:5px;
  margin-bottom:5px;
}

.cart{
  position: relative;
  bottom: 142px;
  left: 122px;
}
